{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
   <div class="container">
   
   <h3>Connected User : {{ app.user.nom }}:{{ app.user.email }}</h3>
   {% for message in app.flashes('info') %}
    
    <div class="alert alert-success" role="alert">
   {{ message }}
</div>
{% endfor %} 
  {% for message in app.flashes('warning') %}
    
    <div class="alert alert-danger" role="alert">
   {{ message }}
</div>
{% endfor %} 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
       <th scope="col">Supprimer</th>
       <th scope="col">Details</th>
     
    </tr>
  </thead>
  <tbody>
   {% for p in prods %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.name }}</td>
      <td>
      {% if  is_granted('ROLE_ADMIN') %}
      
      <a href="{{ path('app_produit_delete',{'id':p.id})}}" class="btn btn-danger"> Supprimer</a>
      {% endif %}
      </td>
      
      <td><a href="{{ path('app_produit_details',{'id':p.id})}}" class="btn btn-primary"> Details</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 </div>
{% endblock %}
