{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
   <div class="container">
    
  <h2>Resultat de la recherche</h2>
 <div class="alert alert-primary" role="alert">
  <strong>Nombre de produit trouve : {{ nb }}</strong> 
 </div>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
       <th scope="col">Supprimer</th>
       <th scope="col">Details</th>
     
    </tr>
  </thead>
  <tbody>
   {% for p in prods %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.name }}</td>
      <td><a href="{{ path('app_produit_delete',{'id':p.id})}}" class="btn btn-danger"> Supprimer</td>
      <td><a href="{{ path('app_produit_details',{'id':p.id})}}" class="btn btn-primary"> Details</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 </div>
{% endblock %}
